<div class="row" ng-controller="PhotoDetailCtrl">
	<p><a class="btn btn-xs btn-primary" ng-href="#/photos"> < </a></p>
	<article class="col-md-4 col-md-offset4">
		<div class="row">
			<h4>{{photo.title}}</h4>
		</div>
		<div class="thumbnail row">
			<img ng-src="http://farm{{photo.info.farm}}.staticflickr.com/{{ photo.info.server}}/{{photo.id}}_{{photo.info.secret}}.jpg">
		</div>
		<div class="row">	
			<span class="pull-left"> 
				<a ng-disabled="photo.isfavourite" ng-click="toggleFav()">
					<span ng-show="photo.isfavourite">Liked</span>
					<span ng-show="!photo.isfavourite">Like</span> 
				</a> 
			</span> 

			 <span class="pull-right"> 
			 	<span  class="label label-primary" > {{photo.views}}  <span class="glyphicon glyphicon-eye-open"></span> </span>
			 </span>
		</div>
		<div class="desc row">
			<p ng-bind-html="photo.description"></p>
		</div>
		<div class="row">
			<p>Comments <span class="label label-info pull-right"> {{ photo.comment.count }} </span></p>
			<hr>
			<div class="comments">
				<div ng-repeat="comment in photo.comment.comments">
					<p ng-bind-html="comment._content"></p>
					<hr/>
				</div>
			</div>

			<form name="comment_form" ng-submit="addComment(comment)">
				<div novalidate class="form-group">
					<textarea ng-model="comment.text" name="comment_txt" class="form-control" required></textarea>
				</div>
				<input type="submit" value="Comment" class="btn btn-xs btn-primary">
			</form>
		</div>
	</article>
	
</div>