//- layout.jade
doctype html
html(ng-app='shan')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')  
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/angularjs/angular.min.js')
    script(type='text/javascript', src='/javascripts/shan.js')
  body
   block content
  footer
   p Copyright (c) foobard